<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container-fluid">
        <br/>
        <div class="text-center">
            <h1>Sistem Informasi Dokter</h1>
        </div>

        <div class="container">
            <div class="card">
                <div class="card-header text-white bg-dark">
                    Daftar Dokter
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">Nama</th>
                                <th scope="col">NIP</th>
                                <th scope="col">NIK</th>
                                <th scope="col">Jenis Kelamin</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="dokter, iter : ${dokterList}">
                                <th scope="row" th:text="${iter.index}+1"></th>
                                <td><a href="#" th:text="${dokter.nama}"></a></td>
                                <td th:text="${dokter.nip}"></td>
                                <td th:text="${dokter.nik}"></td>
                                <td th:text="${dokter.jenisKelamin}"></td>
                                <td>
                                    <a class="btn btn-primary" href="#" role="button">tambah jadwal</a>
                                    <a class="btn btn-success" href="#" role="button">ubah</a>
                                    <a class="btn btn-danger" href="#" role="button">hapus</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="container">
                    <a class="btn btn-dark float-right" href="#" role="button">Tambah Dokter</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
